@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  min-height: 36px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button-header {
  padding-left: 34px;
  padding-right: 34px;
  margin-top: 14px;
  margin-left: 20px;
  min-width: 160px;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
  padding-left: 50px;
  padding-right: 50px;
}

.button-filters {
  min-width: 191px;
}

.button-card {
  padding-left: 26px;
  padding-right: 26px;
}

.button-brown {
  background-color: #756157;
  display: inline-block;
}

.button-blue {
  background-color: #82b3d3;
}

.button-green {
  background-color: #7db54f;
}

.button-transparent {
  background-color: transparent;
  margin-top: 32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.page-container {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
  color: #000000;
  margin: 0;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  column-gap: 30px;
}

.page-header-logo {
  display: block;
  position: relative;
  margin-top: 0;
  margin-bottom: -6px;
  z-index: 1;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
  position: relative;
  display: block;
  padding: 20px 16px;
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  width: calc(100% - 32px);
  height: 2px;
  background-color: #756257;
  bottom: -1px;
  z-index: 1;
}

.navigation-user {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  margin-left: auto;
}

.navigation-user .navigation-user-link {
  min-height: 20px;
  min-width: 20px;
}

.navigation-user-link {
  display: flex;
  align-items: flex-start;
  padding: 22px 12px;
}

.intro {
  position: relative;
  color: #ffffff;
  background-color: #5998c2;
  background-image: url("../images/background-index.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 51px 100px 82px 100px;
  min-height: 485px;
}
.intro-img {
  display: block;
  margin: 0 auto;
}

.intro::before {
  content: "";
  position: absolute;
  background-image: url("../images/background-index-decor.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 57px;
  bottom: 0;
  left: 0;
}

.main-container {
  flex-grow: 1;
}

.advantages-header {
  margin: 69px auto 65px;
}

.advantages-title {
  max-width: 620px;
  margin: 0 auto;
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-text {
  font-size: 22px;
  line-height: 26px;
  max-width: 651px;
  margin: 0 auto;
  padding-bottom: 25px;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-container {
  padding: 102px 85px 102px 85px;
  width: 400px;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
  padding: 112px 85px 112px 85px;
  width: 400px;
  flex-grow: 1;
}

.advantages-item-img {
  width: 100%;
  padding: 0;
  display: flex;
  background-color: #82b3d3;
}

.advantages-item:nth-child(2n) {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-subtitle {
  max-width: 175px;
  margin: 0 auto 62px auto;
  text-transform: uppercase;
  text-align: center;
}

.advantages-subtitle-img {
  color: #ffffff;
}

.advantages-subtext {
  max-width: 230px;
  margin: 0 auto;
  text-align: center;
}

.advantages-subtext-img {
  color: #ffffff;
}

.infrastructure {
  padding-top: 64px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.infrastructure-title {
  max-width: 505px;
  margin: 0 auto 20px;
  text-transform: uppercase;
}

.infrastructure-text {
  font-size: 22px;
  line-height: 26px;
  max-width: 490px;
  margin: 0 auto 64px;
}

.infrastructure-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.infrastructure-item {
  padding: 81px 85px 81px 85px;
  width: 400px;
  flex-grow: 1;
  background: rgba(131, 179, 211, 0.12);
}

.infrastructure-item:nth-child(2n) {
  background-color: #ffffff;
}

.infrastructure-item-house::before {
  content: "";
  position: relative;
  background-image: url("../images/icon/house.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 72px;
  background-position: center;
  display: block;
}

.infrastructure-item-food::before {
  content: "";
  position: relative;
  background-image: url("../images/icon/food.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 72px;
  background-position: center;
  display: block;
}

.infrastructure-item-souvenir::before {
  content: "";
  position: relative;
  background-image: url("../images/icon/souvenir.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 72px;
  background-position: center;
  display: block;
}

.infrastructure-subtitle {
  max-width: 230px;
  margin: 30px auto 30px;
  text-transform: uppercase;
}

.infrastructure-subtext {
  max-width: 230px;
  margin: 0 auto;
}

.search {
  padding: 96px 304px 96px 304px;
  text-align: center;
}

.search-title {
  margin: 0 auto 20px auto;
  text-transform: uppercase;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  max-width: 592px;
  margin: 0 auto 54px auto;
}

.news-letter {
  padding: 96px 258px 104px 258px;
  text-align: center;
  background-color: #2d5d7c;
  background-image: url("../images/background-subscribe.jpg");
  background-size: cover;
  min-height: 414px;
  background-repeat: no-repeat;
}

.news-letter-title {
  max-width: 404px;
  margin: 0 auto 20px auto;
  text-transform: uppercase;
}

.news-letter-title-img {
  color: #ffffff;
}

.news-letter-text {
  font-size: 22px;
  line-height: 26px;
  max-width: 475px;
  margin: 0 auto 54px auto;
}

.news-letter-text-img {
  color: #ffffff;
}

.news-letter-form {
  display: flex;
}

.field {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
  width: 452px;
  padding-inline: 20px;
}

.news-letter button {
  border-radius: 0 4px 4px 0;
}

.news-letter-inner {
  background-image: none;
  background-color: unset;
}

.page-footer {
  padding: 40px 70px 30px 70px;
  display: flex;
  justify-content: space-between;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 145px;
}

.social-item {
  width: 47px;
  height: 40px;
}

.social-link {
  text-decoration: none;
}

.phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  min-width: 331px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}

.copyright {
  color: #000000;
  text-decoration: none;
  width: 115px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.filters {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/background-filters.jpg");
  background-size: cover;
  min-height: 412px;
  background-repeat: no-repeat;
  position: relative;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 auto;
  padding-top: 35px;
  width: 1060px;
}

.breadcrumbs {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  padding-top: 8px;
  gap: 28px;
  width: 1060px;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
}

.catalog-filters {
  display: flex;
  padding-top: 40px;
  margin: 0 auto;
  width: 1060px;
}

.catalog-filters-group {
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filters-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.catalog-filters-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 23px;
}

.catalog-filters-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filters-group-infrastructure {
  width: 150px;
  margin-right: 70px;
}

.catalog-filters-group-housing {
  width: 150px;
  margin-right: 140px;
}

.catalog-filters-group-price {
  width: 288px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.filter-range-control-container {
  display: flex;
  margin-bottom: 36px;
}

.filter-range-control {
  position: relative;
}

.filter-range-control-limit {
  max-width: 143px;
  height: 48px;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border-style: none;
}

.filter-range-control-limit-min {
  position: relative;
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.filter-range-control-text {
  line-height: 24px;
  text-transform: lowercase;
  position: absolute;
  top: 11px;
  right: 19px;
  color: #a9a9a9;
}

.filter-range-control-limit-max {
  position: relative;
  border-radius: 0 4px 4px 0;
}

.filters-controls {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  padding-left: 60px;
}

.result-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 40px;
}

.catalog-housing-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding-top: 7px;
  width: 380px;
}

.select-control {
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  font-family: inherit;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  height: 49px;
  width: 292px;
  margin-left: 158px;
  appearance: none;
  background-image: url("../images/icon/arrow.svg");
  background-position: 258px center;
  background-repeat: no-repeat;
}

.view-button-container {
  width: 230px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px;
}

.view-button {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #000000;
}

.catalog-housing {
  padding: 50px 70px 60px;
}

.housing-list {
  padding: 0;
  margin: 0;
  margin-top: 40px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.housing-card {
  width: 340px;
  padding: 20px;
  box-shadow: 0 0 1px 0 rgba(179, 178, 178, 0.9);
  border-radius: 4px;
}

.housing-card-link {
  text-decoration: none;
}

.housing-card-subtitle {
  padding-top: 16px;
  max-width: 300px;
}

.housing-card-type {
  max-width: 140px;
}

.housing-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.pagination {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 8px;
  padding-top: 80px;
}

.pagination-link {
  padding: 5px 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-text {
  background-color: transparent;
}

.pagination-text {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}
