@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: rgb(242, 242, 242);
  margin: 0;
}


.page-container {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}


.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}


.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}


.navigation-user {
  margin: 0;
  padding: 0;
  list-style: none;
}


.button {
  font-family: inherit;
}


.intro {
  text-align: center;
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/background-index.jpg");
  height: 485px;
  background-repeat: no-repeat;
}


.advantages {
  padding-top: 69px;
  text-align: center;
}


.title-advantages {
  font-size: 30px;
  line-height: 36px;
  max-width: 620px;

}

.text-advantages {
  font-size: 22px;
  line-height: 26px;
  max-width: 651px;
}


.advantages-list {
  list-style: none;
  text-align: center;
}


.advantages-list .title {
  max-width: 175px;
}


.advantages-list .text {
  max-width: 230px;
}


.advantages-container{
  color: #ffffff;
  background-color: rgba(130, 179, 211, 1);
}


.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}


.advantages-item:nth-child(2n) {
  background: rgba(131, 179, 211, 0.2);
}


.infrastructure {
  padding-top: 64px;
  text-align: center;
}

.title-infrastructure {
  font-size: 30px;
  line-height: 36px;
  max-width: 505px;
}

.text-infrastructure {
  font-size: 22px;
  line-height: 26px;
  max-width: 490px;
}


.infrastructure-item {
  background: rgba(131, 179, 211, 0.12);
}


.infrastructure-item:nth-child(2n) {
  background-color: rgb(255, 255, 255);
}


.infrastructure-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.infrastructure-list .title {
  max-width: 230px;
}


.infrastructure-list .text {
  max-width: 230px;
}


.search {
  padding-top: 96px;
  text-align: center;
}

.title-search {
  font-size: 30px;
  line-height: 36px;
  max-width: 297px;
}


.text-search {
  font-size: 22px;
  line-height: 26px;
  max-width: 592px;
}


.news-letter {
  padding-top: 96px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/background-subscribe.jpg");
  height: 414px;
  background-repeat: no-repeat;
}

.title-news-letter {
  font-size: 30px;
  line-height: 36px;
  max-width: 404px;
}


.text-text-news-letter {
  font-size: 22px;
  line-height: 26px;
  max-width: 475px;
}

.page-footer {
  padding-top: 40px;
  text-align: center;
}


.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.social-link {
  color: rgb(131, 179, 211);
  text-decoration: none;
}


.phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.copyright {
  color: #000000;
  text-decoration: none;
}
