@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  min-height: 36px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button-header {
  padding-left: 34px;
  padding-right: 34px;
  margin-left: 20px;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
  padding-left: 50px;
  padding-right: 50px;
}

.button-filters {
  padding-left: 50px;
  padding-right: 50px;
}

.button-card {
  padding-left: 26px;
  padding-right: 26px;
}

.button-brown {
  background-color: #756157;
  display: inline-block;
}

.button-blue {
  background-color: #82b3d3;
}

.button-green {
  background-color: #7db54f;
}

.button-transparent {
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.page-container {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
  color: #000000;
  margin: 0;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0 70px;
}

.page-header-logo {
  display: block;
  position: relative;
  margin-top: 0;
  margin-bottom: -6px;
  z-index: 1;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 30px;
  max-width: 624px;
}

.navigation-item {
  display: flex;
  align-items: center;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 20px 16px;
}

.navigation-user {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.navigation-user-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-user-link {
  padding: 12px 22px;
}

.intro {
  position: relative;
  color: rgb(255, 255, 255);
  background-color: #5998c2;
  background-image: url("../images/background-index.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 51px 100px 82px 100px;
}
.intro-img {
  display: block;
  margin: 0 auto;
}

.intro::before {
  content: "";
  position: absolute;
  background-image: url("../images/background-index-decor.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 57px;
  bottom: 0;
  left: 0;
}

.advantages {
  padding-top: 69px;
}

.advantages-title {
  max-width: 620px;
  margin: 0 auto 25px auto;
  text-transform: uppercase;
  text-align: center;
}

.advantages-text {
  font-size: 22px;
  line-height: 26px;
  max-width: 651px;
  margin: 0 auto 90px auto;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-container {
  background-color: #82b3d3;
  padding: 102px 85px 102px 85px;
  width: 400px;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
  padding: 112px 85px 112px 85px;
  width: 400px;
}

.advantages-item-img {
  width: 100%;
  padding: 0;
  display: flex;
}

.advantages-item:nth-child(2n) {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-subtitle {
  max-width: 175px;
  margin: 0 auto 62px auto;
  text-transform: uppercase;
  text-align: center;
}

.advantages-subtitle-img {
  color: #ffffff;
}

.advantages-subtext {
  max-width: 230px;
  margin: 0 auto;
  text-align: center;
}

.advantages-subtext-img {
  color: #ffffff;
}

.infrastructure {
  padding-top: 64px;
  text-align: center;
}

.infrastructure-item {
  padding: 81px 85px 81px 85px;
  width: 400px;
}

.infrastructure-title {
  max-width: 505px;
  margin: 0 auto 20px auto;
  text-transform: uppercase;
}

.infrastructure-text {
  font-size: 22px;
  line-height: 26px;
  max-width: 490px;
  margin: 0 auto 64px auto;
}

.infrastructure-item {
  background: rgba(131, 179, 211, 0.12);
}

.infrastructure-item:nth-child(2n) {
  background-color: #ffffff;
}

.infrastructure-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.infrastructure-subtitle {
  max-width: 230px;
  padding-top: 102px;
  margin: 0 auto 30px auto;
  text-transform: uppercase;
}

.infrastructure-subtext {
  max-width: 230px;
  margin: 0 auto;
}

.search {
  padding: 96px 304px 96px 304px;
  text-align: center;
}

.search-title {
  max-width: 297px;
  margin: 0 auto 20px auto;
  text-transform: uppercase;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  max-width: 592px;
  margin: 0 auto 54px auto;
}

.news-letter {
  padding: 96px 258px 104px 258px;
  text-align: center;
  background-color: #82b3d3;
  background-image: url("../images/background-subscribe.jpg");
  background-size: cover;
  min-height: 414px;
  background-repeat: no-repeat;
}

.news-letter-title {
  max-width: 404px;
  margin: 0 auto 20px auto;
  text-transform: uppercase;
}

.news-letter-title-img {
  color: #ffffff;
}

.news-letter-text {
  font-size: 22px;
  line-height: 26px;
  max-width: 475px;
  margin: 0 auto 54px auto;
}

.news-letter-text-img {
  color: #ffffff;
}

.news-letter-form {
  display: flex;
}

.field {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
  width: 452px;
  padding-inline: 20px;
}

.news-letter button {
  border-radius: 0 4px 4px 0;
}

.news-letter-inner {
  background-image: none;
  background-color: unset;
}

.page-footer {
  padding: 40px 70px 30px 70px;
  display: flex;
  justify-content: space-between;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.social-item {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 47px;
}

.social-link {
  text-decoration: none;
}

.phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  min-width: 331px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.copyright {
  color: #000000;
  text-decoration: none;
  width: 115px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.filters {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/background-filters.jpg");
  background-size: cover;
  min-height: 412px;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
}

.catalog-filters-list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 23px;
}

.catalog-filters-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.catalog-housing-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.select-control {
  font-family: inherit;
  background-color: #ffffff;
}

.housing-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.housing-card {
  width: 340px;
}

.housing-card-link {
  text-decoration: none;
}

.housing-card-subtitle {
  padding-top: 16px;
  max-width: 300px;
}

.housing-card-type {
  max-width: 140px;
}

.housing-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.pagination {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  width: 1060px;
  height: 60px;
  padding-top: 80px;
  justify-content: flex-start;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-text {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}
